Source: ros-hydro-baxter-examples
Section: misc
Priority: extra
Maintainer: Rethink Robotics Inc. <rsdk.support@rethinkrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-actionlib, ros-hydro-baxter-core-msgs, ros-hydro-baxter-interface, ros-hydro-catkin, ros-hydro-control-msgs, ros-hydro-cv-bridge, ros-hydro-dynamic-reconfigure, ros-hydro-rospy, ros-hydro-sensor-msgs, ros-hydro-trajectory-msgs
Homepage: http://sdk.rethinkrobotics.com
Standards-Version: 3.9.2

Package: ros-hydro-baxter-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-actionlib, ros-hydro-baxter-core-msgs, ros-hydro-baxter-interface, ros-hydro-control-msgs, ros-hydro-cv-bridge, ros-hydro-dynamic-reconfigure, ros-hydro-rospy, ros-hydro-sensor-msgs, ros-hydro-trajectory-msgs
Description: Example programs for Baxter SDK usage.
